{{ block title }}
   Practice test - Choice task
{{ endblock }}
{{ block content }}

 <p>In the Choice task, you will be asked to choose your most preferred alternative: </p>

<table class="table">
<tr>

    {{ for choice in form.CE_choice_practice}}
             {{ if forloop.counter == 1}}
                 <th> Option A </th>  <td>{{ choice }}</td>
             {{ else}}
                  {{ if forloop.counter == 2}}
                  <th> Option B </th>  <td>{{ choice }}</td>
                  {{ else}}
                   <th> Status quo </th>   <td>{{ choice }}</td>
                  {{ endif}}
             {{ endif}}
    {{ endfor }}
</tr>
</table>

    {{ next_button }}

{{ endblock }}
