{{ block content }}
<style>

h1 {
  font-size: 2em;
   margin-left: auto;
  margin-right: auto;

}

p {
  font-size: 1.5em;

}
li {
  font-size: 1.5em;

}
td, th,tr{
   padding: 5px;
   margin: 0;
    height: 30px;
  border-bottom: 1px solid #ddd;
   border-right: 1px solid #ddd;
}
td{
text-align:center;
}

table{
  border-collapse: collapse;
  width: 100%;
}

input[type=radio]{
    opacity:1;
    outline: 2px solid black;
}
</style>


<body style=" margin:0px;position:relative; bottom:50px">


<h1> Facciamo un test insieme </h1>
<p> </p>


  <div style="width:100%; display: block">
<p> Assumiamo che nella scheda di scelta vincolante le tue scelte e previsioni sono le seguenti:  </p>

  <table  align="center" style="width:80%"   >

    <tr>
        <th colspan="4" style="background-color: #A3CEDC;text-align: center" > <b> Esemio di scheda di scelta  </b> </th>
    </tr>

      <tr>

    <th scope="row" style="width:20%" >Caratteristiche</th> <th scope="col" style="width:20% ;text-align:center"  >Progetto A</th>
          <th scope="col" style="width:20%;text-align:center" >Progetto B </th>
           <th scope="col" style="width:20%;text-align:center" >Nessun progetto</th>
    </tr>

    <tr>
          <th scope="row"> Localizzazione geografica  </th> <td> Priorità nelle periferie </td>
        <td> Priorità nel Centro città</td> <td>  </td>
    </tr>
          <tr>
          <th scope="row"> Frequenza manutenzione  </th> <td>  2 visite all'anno  </td>
        <td>  4 visite all'anno </td> <td>  </td>
    </tr>
      <tr>
          <th scope="row"> Tasso di assorbimento   </th> <td> 75%  </td>
        <td> 50% </td> <td>  </td>
    </tr>

      <tr>
          <th scope="row"> Incremento tassa TARI </th> <td>  € </td>
        <td> €   </td> <td>  </td>
    </tr>

                  {{ if Constants.random_practice_alternative  == 'A'}}

        <th scope="row"> Io scelgo </th> <td style="text-align:center"> <input type="radio" id="A" checked="checked"   style= "width: 1.2em;
    height: 1.2em; border: 1px solid "/>
  </td> <td style="text-align:center"> <input type="radio" id="B"  disabled  style= "width: 1.2em;
    height: 1.2em; border: 1px solid " /> </td> <td style="text-align:center"> <input type="radio" id="C"   disabled style= "width: 1.2em;
    height: 1.2em;" /> </td>
       </tr>
      {{ else}}

       {{ if Constants.random_practice_alternative  == 'B'}}
        <th scope="row"> Io scelgo </th> <td style="text-align:center"> <input type="radio" id="A"  disabled  style= "width: 1.2em;
    height: 1.2em; border: 1px solid "/>
  </td> <td style="text-align:center"> <input type="radio" id="B"  checked="checked"   style= "width: 1.2em;
    height: 1.2em; border: 1px solid " /> </td> <td style="text-align:center"> <input type="radio" id="C"   disabled style= "width: 1.2em;
    height: 1.2em;" /> </td>
       </tr>
       {{ else}}
       <th scope="row"> Io scelgo </th> <td style="text-align:center"> <input type="radio" id="A"  disabled  style= "width: 1.2em;
    height: 1.2em; border: 1px solid "/>
  </td> <td style="text-align:center"> <input type="radio" id="B"  disabled  style= "width: 1.2em;
    height: 1.2em; border: 1px solid " /> </td> <td style="text-align:center"> <input type="radio" id="C"   checked="checked"   style= "width: 1.2em;
    height: 1.2em;" /> </td>
       </tr>

      {{ endif}}
             {{ endif}}


     <tr style="background-color: #F0E68C; height:10px;" >
         <th scope="row" > Le tue previsioni </th>  <td> {{subsession.session.example_prediction_A}}  </td>
         <td> {{subsession.session.example_prediction_B}}  </td>
         <td style=" text-align: center">
            {{subsession.session.example_prediction_C}}</td>

       </tr>
      <tr style="background-color: #F0E68C">
         <th scope="row" > Compensi monetari </th>  <td> €{{subsession.session.example_prediction_payoff_A}}</td>
          <td> €{{subsession.session.example_prediction_B}}  </td>
          <td style=" text-align: center">
        €{{subsession.session.example_prediction_payoff_C}}</td>
            </tr>

</table>


  </div>




  <div style="width:100%; display: block">
      <p></p>
<p> Ora assumiamo che la media delle previsioni di chi ha scelto il progetto {{Constants.random_practice_alternative}} è:</p>

      <table align="center"  style="width:80%" >
    <tr>
        <th colspan="4" style="background-color: #A3CEDC;text-align: center;" > <b> Previsioni nella scheda di scelta vincolante </b> </th>
    </tr>
      <tr>

    <th scope="row" style="width:20%">Partecipante</th> <th scope="col" style="width:20%">Progetto A</th>  <th scope="col" style="width:20%"> Progetto B </th>
           <th scope="col" style="width:20%"> Nessun progetto</th>
    </tr>



  {{ for x in cont }}
    <tr>
        {{ if x == 0}}
          <th scope="row">  ID{{listA.0}} </th> <td>  {{example_prediction_average_A.0}}  </td>
        <td>{{example_prediction_average_B.0}}  </td> <td>{{example_prediction_average_C.0}}  </td>
        {{ else }}

        {{ if x == 1}}
          <th scope="row">   ID{{listA.1}} </th> <td>  {{example_prediction_average_A.1}}  </td>
        <td>{{example_prediction_average_B.1}}  </td> <td>{{example_prediction_average_C.1}}  </td>
        {{ else }}

        {{ if x == 2}}
          <th scope="row">   ID{{listA.2}} </th> <td>  {{example_prediction_average_A.2}}  </td>
        <td>{{example_prediction_average_B.2}}  </td> <td>{{example_prediction_average_C.2}}  </td>
        {{ else }}



        {{ if x == 3}}
          <th scope="row">   ID{{listA.3}} </th> <td>  {{example_prediction_average_A.3}}  </td>
        <td>{{example_prediction_average_B.3}}  </td> <td>{{example_prediction_average_C.3}}  </td>
        {{ else }}



        {{ if x == 4}}
          <th scope="row">   ID{{listA.4}} </th> <td>  {{example_prediction_average_A.4}}  </td>
        <td>{{example_prediction_average_B.4}}  </td> <td>{{example_prediction_average_C.4}}  </td>
        {{ else }}



        {{ if x == 5}}
          <th scope="row">   ID{{listA.5}} </th> <td>  {{example_prediction_average_A.5}}  </td>
        <td>{{example_prediction_average_B.5}}  </td> <td>{{example_prediction_average_C.5}}  </td>
        {{ else }}



        {{ if x == 6}}
          <th scope="row">   ID{{listA.6}} </th> <td>  {{example_prediction_average_A.6}}  </td>
        <td>{{example_prediction_average_B.6}}  </td> <td>{{example_prediction_average_C.6}}  </td>
        {{ else }}



        {{ if x == 7}}
          <th scope="row">   ID{{listA.7}} </th> <td>  {{example_prediction_average_A.7}}  </td>
        <td>{{example_prediction_average_B.7}}  </td> <td>{{example_prediction_average_C.7}}  </td>
        {{ else }}


        {{ if x == 8}}
          <th scope="row">   ID{{listA.8}} </th> <td>  {{example_prediction_average_A.8}}  </td>
        <td>{{example_prediction_average_B.8}}  </td> <td>{{example_prediction_average_C.8}}  </td>
        {{ else }}


        {{ if x == 9}}
          <th scope="row">   ID{{listA.9}} </th> <td>  {{example_prediction_average_A.9}}  </td>
        <td>{{example_prediction_average_B.9}}  </td> <td>{{example_prediction_average_C.9}}  </td>
        {{ else }}

         {{ if x == 10}}
          <th scope="row">   ID{{listA.10}} </th> <td>  {{example_prediction_average_A.10}}  </td>
        <td>{{example_prediction_average_B.10}}  </td> <td>{{example_prediction_average_C.10}}  </td>

         {{ else }}
        {{ if x == 11}}
          <th scope="row">   ID{{listA.11}} </th> <td>  {{example_prediction_average_A.11}}  </td>
        <td>{{example_prediction_average_B.11}}  </td> <td>{{example_prediction_average_C.11}}  </td>

         {{ endif }}

        {{ endif }}

        {{ endif }}

         {{ endif }}

        {{ endif }}

         {{ endif }}

        {{ endif }}
           {{ endif }}
              {{ endif }}
          {{ endif }}
          {{ endif }}
          {{ endif }}
    </tr>
               {{ endfor }}

      <tr style="background-color: #F0E68C" >
         <th scope="row" > Media </th> <td > {{AverageA}}

       </td>
        <td> {{AverageB}}  </td> <td>  {{AverageC}} </td>
       </tr>
      <tr style="background-color: #F0E68C">
         <th scope="row" > Compensi monetari </th> <td style=" text-align: center">
         €{{payoff_a}}
          </td>
        <td>  €{{payoff_b}} </td> <td>  €{{payoff_c}} </td>
       </tr>

</table>

  </div>






  <div style="width:100%; display: block">
      <p></p>
 <p> Facciamo girare la ruota della fortuna è otteniamo: </p>
  <img id="image_75" src= "{{static 'spinning_wheel_75.jpeg' }}" style="width:35%; display: block;position:relative; left:30%" />

     </div>

<p></p>
 <p> Assumiamo che l'alternativa vincolante è <b> Option A </b>, quale sarà il tuo compenso monetario? </p>

 <p> Scrivi qui la tua risposta e clicca su avanti: <input id ="response" type="number"  style="text-align:center;position:relative; height:50px;;width: 100px; font-size:12pt"></p>

<br>

<br>

<br>
<button style="position: relative; left:90%" type="button" class="btn btn-primary" onclick="checkSubmit()">Avanti</button>






<script>

  let response = document.getElementById('response');

   function liveRecv(data) {
           if (data.stop == true){
                if (data.response == true){
                     var text = "Hai raggiunto il numero massimo di tentativi. La risposta corretta è: js_vars.response_correct.toString())";
                      alert ( text);
                 }else {

                       alert ("La risposta è corretta!");
                  }
                form.submit();
            }
           if (data.stop == false){
               js_vars.prob_replace_guess = response.value;
                  alert ('Oops! La risposta non è corretta. Prova di nuovo.')
                    response.style.backgroundColor =  "rgba(221,0,0,0.3)";
           }
  }



  function checkSubmit() {
            if( response.value.toString() == ""   ) {

               response.style.backgroundColor = "white";

               alert ("Please fill all the empty spaces");
            }

           else {
                  response.style.backgroundColor = "white";
                  if(response.value >10 ||    response.value <0 ){
                   alert ("The payoffs  must be within €0 and €10")
                   }
                  else{
                      if (js_vars.response ==  response.value  ){
                       alert ("Please make a new guess before submitting")
                       }
                       else{
                       liveSend( { 'response' : response.value,  'clicked_button' : 1, 'correct': js_vars.response_correct});
                       }
                  }
            }
  }




</script>

{{ endblock }}
