{{ block content }}
<style>
.circle{
  border:2px solid ;
  border-radius:50%;
   border-color: red;
}
h1 {
  font-size: 3em;
   margin-left: auto;
  margin-right: auto;

}

p {
  font-size: 1.5em;

}
li {
  font-size: 1.5em;

}

td, th,tr{
   padding: 0;
   margin: 0;
    height: 30px;
  border-bottom: 1px solid #ddd;

}

td{
text-align:center;
}

table{
  border-collapse: collapse;
  width: 100%;
}

input[type=radio]{
    opacity:1;
    outline: 2px solid black;
}



</style>


<body style=" margin:0px;position:relative; bottom:50px">

<p> Il tuo compenso monetario è uguale a <b>
{{ if random_choice_practice == 'A' }}
€{{payoff_a}}
    {{ else}}
 {{ if random_choice_practice  == 'B'}}
        €{{payoff_b }}
{{ else }}

     €{{payoff_c }}
  {{ endif }}
     {{ endif }}
 </b>

</p>



      <table  class="table"  style="width:100%" >
    <tr>
        <th colspan="4" style="background-color: #A3CEDC;text-align: center" > <b> Predizioni nella scheda di scelta </b> </th>
    </tr>
      <tr>

    <th scope="row" style="width:20%" ></th> <th scope="col" style="width:20%; text-align:center" >Progetto A
      </th>  <th scope="col" style="width:20%;text-align:center"> Progetto B </th>
           <th scope="col" style="width:20%;text-align:center"> Nessun progetto</th>
    </tr>



    <tr style="background-color: #F0E68C">

    <th scope="row">Media</th> <td> {{AverageA}}    </td>
        <td > {{AverageB}}  </td> <td > {{AverageC}}  </td>
    </tr>

           {{ if  player.participant.random_choice_practice  == 'A'}}

     <tr style="background-color: #F0E68C">
         <th scope="row"  style=" vertical-align: middle;"> Compensi monetari </th>
          <td style="text-align: center; vertical-align: middle;">&nbsp &nbsp &nbsp  €{{payoff_a}}
          </td>
          <td style="text-align: center; vertical-align: middle;"> €{{payoff_b}}  </td>
          <td style="text-align: center; vertical-align: middle;">
           €{{payoff_c}}   </td>

            </tr>
      {{ else }}
          {{ if  player.participant.random_choice_practice  == 'B'}}

      <tr style="background-color: #F0E68C">
         <th scope="row"  style=" vertical-align: middle;"> Compensi monetari </th>
          <td style="text-align: center; vertical-align: middle;">  €{{payoff_a}}</td>
          <td style="text-align: center; vertical-align: middle;">&nbsp &nbsp &nbsp €{{payoff_b}}
           </td>
          <td style="text-align: center; vertical-align: middle;">
           €{{payoff_c}}   </td>

            </tr>
      {{ else }}


      <tr style="background-color: #F0E68C">
         <th scope="row"  style=" vertical-align: middle;"> Compensi monetari </th>
          <td style="text-align: center; vertical-align: middle;">  €{{payoff_a}}</td>
          <td style="text-align: center; vertical-align: middle;"> €{{payoff_b}}  </td>
          <td style="text-align: center; vertical-align: middle;">
           €{{payoff_c}}  </td>

            </tr>

      {{ endif }}
      {{ endif }}

</table>





  </div>




<button style="position:relative; left:78%" name="btn_submit" value="True" class="btn btn-primary btn-large"  >
                  <span style="font-size:12pt">Clicca qui per procedere</span>
             </button>



</body>











<script>


</script>







{{ endblock }}