{{ block content }}
<style>
.circle{
  border:2px solid ;
  border-radius:50%;
   border-color: red;
}
h1 {
  font-size: 3em;
   margin-left: auto;
  margin-right: auto;

}

p {
  font-size: 1.5em;

}
li {
  font-size: 1.5em;

}

td, th,tr{
   padding: 0;
   margin: 0;
    height: 30px;
  border-bottom: 1px solid #ddd;

}

td{
text-align:center;
}

table{
  border-collapse: collapse;
  width: 100%;
}

input[type=radio]{
    opacity:1;
    outline: 2px solid black;
}



</style>


<body style=" margin:0px;position:relative; bottom:50px">


<p> Il tuo compenso monetario è uguale a:  <b>
{{ if random_choice == 'A' }}
€{{payoff_a}}
    {{ else}}
 {{ if random_choice  == 'B'}}
        €{{payoff_b }}
{{ else }}

     €{{payoff_c }}
  {{ endif }}
     {{ endif }}
 </b>

</p>



      <table  class="table"  style="width:100%" >
    <tr>
        <th colspan="4" style="background-color: #A3CEDC;text-align: center" > <b> Previsioni nella scheda di scelta vincolante</b> </th>
    </tr>
      <tr>

    <th scope="row" style="width:20%" ></th> <th scope="col" style="width:20%; text-align: center">Progetto A
      </th>  <th scope="col" style="width:20%;text-align: center"> Progetto B </th>
           <th scope="col" style="width:20%;text-align: center">  Nessun progetto</th>
    </tr>





    <tr style="background-color: #F0E68C">

    <th scope="row">Media</th> <td> {{AverageA}}    </td>
        <td > {{AverageB}}  </td> <td > {{AverageC}}  </td>
    </tr>

           {{ if  player.participant.random_choice == 'A'}}

      <tr style="background-color: #F0E68C">
         <th scope="row" > Compensi monetari </th> <td style=" text-align: center"> &nbsp &nbsp &nbsp &nbsp &nbsp   €{{payoff_a}}
      <img src= "{{static 'red_circle.png' }}" style="width:19%;position:relative;right:19%"  />  </td>
        <td> €{{payoff_b}} </td> <td> €{{payoff_c}} </td>
       </tr>
      {{ else }}
          {{ if  player.participant.random_choice  == 'B'}}

      <tr style="background-color: #F0E68C">
         <th scope="row" > Compensi monetari </th>  <td style=" text-align: center"> €{{payoff_a}}</td>
          <td style=" text-align: center">&nbsp &nbsp &nbsp &nbsp &nbsp
          €{{payoff_b}} <img src= "{{static 'red_circle.png' }}" style="width:19%;position:relative;right:19%"   />  </td>
        <td> €{{payoff_c}}  </td>
            </tr>
      {{ else }}


      <tr style="background-color: #F0E68C">
         <th scope="row" > Compensi monetari </th>  <td style=" text-align: center"> €{{payoff_a}}</td>
          <td style=" text-align: center"> €{{payoff_b}}  </td>
          <td style=" text-align: center">
        &nbsp &nbsp &nbsp &nbsp &nbsp    €{{payoff_c}} <img src= "{{static 'red_circle.png' }}" style="width:19%;position:relative;right:19%" />   </td>

            </tr>

      {{ endif }}
      {{ endif }}

</table>

<button name="next_button" value="True" class="btn btn-primary btn-large" style="position: relative; left:90%" >
                  <span style="font-size:12pt">Avanti</span>
             </button> </div>


  </div>
















{{ endblock }}