{{ block content }}
<style>

h1 {
  font-size: 3em;
   margin-left: auto;
  margin-right: auto;

}

p {
  font-size: 1.5em;

}
li {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 23px;

}

</style>


<body style=" margin:0px;position:relative; bottom:80px">

<h1 style="width:100%;"> Fase 2 </h1 >
<p>
    Ora, assumi che <b> nella scheda di scelta estratta (scheda numero {{ Constants.random_practice_choice_sit }})</b>
     , escludendo te stesso:
</p>
<div style="position:relative; bottom:30px" >
<ul style="position:relative; top:30px" >
    <li><b> {{random_prediction_A}} </b> {% if random_prediction_A == 1 %}partecipante ha
    {% elif random_prediction_A != 1 %} partecipanti hanno {%endif%}<b> scelto l'opzione A </b></li>
  <li><b> {{random_prediction_B}}</b> {% if random_prediction_B == 1 %}partecipante ha
    {% elif random_prediction_B != 1 %} partecipanti hanno {%endif%} <b> scelto l'opzione B</b></li>
    <li><b> {{random_prediction_C}}</b> {% if random_prediction_C == 1 %}partecipante ha
    {% elif random_prediction_C != 1 %} partecipanti hanno{%endif%} <b>  scelto l'opzione C</b></li>
</ul>


  <img src= "{{static 'bingo_cage2.jpg' }}" style="width:35%;position:absolute;left:700px;top:0px  " />

   <div style="position: absolute; left:500px; top:20px;width:100%" >

                 {{ for x in listA }}
               <img src= "{{static 'ball_A.jpg' }}" style="width:5% " />
               {{ endfor }}
                </div>
                    <div style="position: absolute; left:500px; top:80px;width:100%">
             {{ for x in listB }}
               <img src= "{{static 'ball_B.jpg' }}" style="width:5%" />
               {{ endfor }}
                  </div>
                    <div style="position: absolute;  left:500px;top:140px;width:100%">
              {{ for x in listC }}
               <img src= "{{static 'ball_C.jpg' }}" style="width:5% " />
               {{ endfor }}
                   </div>
    <div style="position: absolute; top:200px; width:75%">
    <p  >
Allora noi inseriremo <b> {{random_prediction_A}}  {% if random_prediction_A == 1 %}pallina
    {% elif random_prediction_A != 1 %} palline {%endif%}</b> con la <b> lettera A</b>,
        <b> {{random_prediction_B}} {% if random_prediction_B == 1 %}pallina
    {% elif random_prediction_B != 1 %} palline {%endif%}</b>
        con la <b> lettera B</b>, e
    <b> {{random_prediction_C}} {% if random_prediction_C == 1 %}pallina
    {% elif random_prediction_C != 1 %} palline {%endif%}</b> con la <b> lettera C</b> in un'urna. </p>
<p>     Dall'urna verrà <b> estratta in modo casuale </b> una di queste palline.
</p>
<p>
    La pallina estratta determina quale <b> opzione </b> (A, B or C) sarà usata per calcolare il tuo compenso aggiuntivo.

</p>
    </div>


</div>



<br>

<br>
<br>

<br>
<br>


<br>
<br>






</body>
<br>
<br><br>
<br>
  <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>


{{ endblock }}
