{{ block content }}
<style>

h1 {
  font-size: 3em;
   margin-left: auto;
  margin-right: auto;

}

p {
  font-size: 1.5em;

}
li {
  font-size: 1.5em;

}

td, th,tr{
   padding: 0;
   margin: 0;
    height: 30px;
  border-bottom: 1px solid #ddd;

}

td{
text-align:center;
}

table{
  border-collapse: collapse;
  width: 100%;
}

input[type=radio]{
    opacity:1;
    outline: 2px solid black;
}



</style>


<body style=" margin:0px;position:relative; bottom:50px">


<p> Your payoff will equal to  <b>
{{ if random_choice_practice == 'A' }}
€{{payoff_a}}
    {{ else}}
 {{ if random_choice_practice  == 'B'}}
        €{{payoff_b }}
{{ else }}

     €{{payoff_c }}
  {{ endif }}
     {{ endif }}
 </b>

</p>



      <table  class="table"  style="width:50%" >
    <tr>
        <th colspan="4" style="background-color: #A3CEDC;text-align: center" > <b> Beliefs in Practoce Choice card </b> </th>
    </tr>
      <tr>

    <th scope="row" style="width:20%" >Participant</th> <th scope="col" style="width:20%">Option A
      </th>  <th scope="col" style="width:20%"> Option B </th>
           <th scope="col" style="width:20%"> Option C</th>
    </tr>



    {{ for x in cont }}
    <tr>
        {{ if x == 0}}
          <th scope="row">  ID{{listA.0}} </th> <td>  {{example_prediction_average_A.0}}  </td>
        <td>{{example_prediction_average_B.0}}  </td> <td>{{example_prediction_average_C.0}}  </td>
        {{ else }}

        {{ if x == 1}}
          <th scope="row">   ID{{listA.1}} </th> <td>  {{example_prediction_average_A.1}}  </td>
        <td>{{example_prediction_average_B.1}}  </td> <td>{{example_prediction_average_C.1}}  </td>
        {{ else }}

        {{ if x == 2}}
          <th scope="row">   ID{{listA.2}} </th> <td>  {{example_prediction_average_A.2}}  </td>
        <td>{{example_prediction_average_B.2}}  </td> <td>{{example_prediction_average_C.2}}  </td>
        {{ else }}



        {{ if x == 3}}
          <th scope="row">   ID{{listA.3}} </th> <td>  {{example_prediction_average_A.3}}  </td>
        <td>{{example_prediction_average_B.3}}  </td> <td>{{example_prediction_average_C.3}}  </td>
        {{ else }}



        {{ if x == 4}}
          <th scope="row">   ID{{listA.4}} </th> <td>  {{example_prediction_average_A.4}}  </td>
        <td>{{example_prediction_average_B.4}}  </td> <td>{{example_prediction_average_C.4}}  </td>
        {{ else }}



        {{ if x == 5}}
          <th scope="row">   ID{{listA.5}} </th> <td>  {{example_prediction_average_A.5}}  </td>
        <td>{{example_prediction_average_B.5}}  </td> <td>{{example_prediction_average_C.5}}  </td>
        {{ else }}



        {{ if x == 6}}
          <th scope="row">   ID{{listA.6}} </th> <td>  {{example_prediction_average_A.6}}  </td>
        <td>{{example_prediction_average_B.6}}  </td> <td>{{example_prediction_average_C.6}}  </td>
        {{ else }}



        {{ if x == 7}}
          <th scope="row">   ID{{listA.7}} </th> <td>  {{example_prediction_average_A.7}}  </td>
        <td>{{example_prediction_average_B.7}}  </td> <td>{{example_prediction_average_C.7}}  </td>
        {{ else }}


        {{ if x == 8}}
          <th scope="row">   ID{{listA.8}} </th> <td>  {{example_prediction_average_A.8}}  </td>
        <td>{{example_prediction_average_B.8}}  </td> <td>{{example_prediction_average_C.8}}  </td>
        {{ else }}


        {{ if x == 9}}
          <th scope="row">   ID{{listA.9}} </th> <td>  {{example_prediction_average_A.9}}  </td>
        <td>{{example_prediction_average_B.9}}  </td> <td>{{example_prediction_average_C.9}}  </td>
        {{ else }}

         {{ if x == 10}}
          <th scope="row">   ID{{listA.10}} </th> <td>  {{example_prediction_average_A.10}}  </td>
        <td>{{example_prediction_average_B.10}}  </td> <td>{{example_prediction_average_C.10}}  </td>

         {{ else }}
        {{ if x == 11}}
          <th scope="row">   ID{{listA.11}} </th> <td>  {{example_prediction_average_A.11}}  </td>
        <td>{{example_prediction_average_B.11}}  </td> <td>{{example_prediction_average_C.11}}  </td>

         {{ endif }}

        {{ endif }}

        {{ endif }}

         {{ endif }}

        {{ endif }}

         {{ endif }}

        {{ endif }}
           {{ endif }}
              {{ endif }}
          {{ endif }}
          {{ endif }}
          {{ endif }}
    </tr>
               {{ endfor }}

    <tr style="background-color: #F0E68C">

    <th scope="row">Average</th> <td> {{AverageA}}    </td>
        <td > {{AverageB}}  </td> <td > {{AverageC}}  </td>
    </tr>

           {{ if  player.participant.random_choice_practice  == 'A'}}

      <tr style="background-color: #F0E68C">
         <th scope="row" > Your payoffs </th> <td style=" text-align: center"> &nbsp   €{{payoff_a}}
      <img src= "{{static 'red_circle.png' }}" style="width:48%;position:relative;right:45%"   />  </td>
        <td> €{{payoff_b}} </td> <td> €{{payoff_c}} </td>
       </tr>
      {{ else }}
          {{ if  player.participant.random_choice_practice  == 'B'}}

      <tr style="background-color: #F0E68C">
         <th scope="row" > Your payoffs </th>  <td> €{{payoff_a}}</td> <td style=" text-align: center">
        &nbsp &nbsp   €{{payoff_b}} <img src= "{{static 'red_circle.png' }}" style="width:48%;position:relative;right:45%"   />  </td>
        <td> €{{payoff_c}}  </td>
            </tr>
      {{ else }}


      <tr style="background-color: #F0E68C">
         <th scope="row" > Your payoffs </th>  <td> €{{payoff_a}}</td>
          <td> €{{payoff_b}}  </td>
          <td style=" text-align: center">
        &nbsp &nbsp    €{{payoff_c}} <img src= "{{static 'red_circle.png' }}" style="width:48%;position:relative;right:45%"  />   </td>

            </tr>

      {{ endif }}
      {{ endif }}

</table>





  </div>

<br>
<br>
<br>
<br>


    {{ next_button }}




</body>











<script>


</script>





  {{ next_button }}


{{ endblock }}